%h1 Help

%ul
  - help_items.each do |item|
    %li
      #{link_to t("help.#{item.file}.title"), help_page_path(category: item.category, file: item.file)} -
      #{t("help.#{item.file}.description")}

