.card
  .row.no-gutters.d-flex.justify-content-center
    .col-7
      .card-body.m-5.text-center
        %h1.card-title= t ".title"
        - if policy(Cohort).new?
          %h2.card-title= t ".subtitle"
          = link_to new_cohort_path,
            class: "btn btn-success btn-lg my-3 new-cohort-button" do
            %i.fas.fa-plus
            = t ".new"
        - else
          %p.text-danger
            = t ".may_not_create"
    .col-5
      = image_tag("cohort.svg", class: "card-img p-5")
