%ul.nav.nav-tabs.card-header-tabs
  = active_link_to I18n.t("cohorts.show.link_to_patients"),
   cohort_patients_path(@cohort), class: "nav-link"
  = active_link_to I18n.t("cohorts.show.campaigns.link_to_campaigns"),
   cohort_campaigns_path(@cohort), class: "nav-link"
