- if @cohorts.size.zero?
  .row.mt-5
    .col-11.offset-1
      = render "empty"

- else
  %h1
    .float-left
      = t ".title"
    - if policy(Cohort).new?
      .float-right
        = link_to new_cohort_path, class: "btn btn-success" do
          %i.fas.fa-plus
          = t ".add"
    .clearfix

  .card.mb-3
    .card-body
      = render(Cohorts::SummaryComponent.with_collection(@cohorts, pundit_user: pundit_user))
      -if @pagy.pages != 1
        != pagy_bootstrap_nav(@pagy)