.card.mb-2
  .card-header
    .w-100
      .row
        .col
          %i.fas.fa-users
          = link_to @cohort.name, @cohort
        .col.d-none.d-md-block
          #{t '.campaigns'}: <strong>#{@cohort.campaigns.size}</strong>
          #{t '.patients'}: <strong>#{@cohort.patients.size}</strong>
        .col-1
          .float-right
            - if destroy?
              = button_to cohort_path(@cohort),
                form: { "data-turbo-confirm": t("are_you_sure") },
                method: :delete,
                title: t(".destroy"),
                class: "btn btn-sm btn-link delete p-0 m-0" do
                %i.fas.fa-trash
