.card.my-3
  .card-body.d-flex.justify-content-between.align-items-center.py-2
    %h2.card-title
      = render "runnables/patient_path", patient: runnable
      %small= t "patients.show.subtitle"
    - if policy(runnable).destroy?
      = button_to t("patients.show.remove"), patient_path(runnable),
        method: :delete,
        form: { "data-turbo-confirm": t("are_you_sure") },
        class: "btn btn-sm btn-danger"
