- if (@data[:compared] + @data[:not_comparable]).empty?
  .row.mt-5
    .col-10.offset-1
      = render "empty", runnable: @runnable, first: @first, second: @second
- else
  = runnable_comparisons_header(@runnable, @first, @second)
  = render "sources", sources: @sources
  = render partial: "compare", collection: @data[:compared]
  = render "not_compared", not_compared: @data[:not_comparable]
