.progress.border.border-secondary{"data-toggle": "tooltip", "data-placement": "top", "title": "#{quota.usage}/#{quota.limit} GB", "data-controller": "tooltip"}
  .progress-bar{role: "progressbar", class: color, style: "width: #{quota.percentage_used}%", "aria-valuenow": quota.usage, "aria-valuemin": 0, "aria-valuemax": quota.limit}

