= f.input :version, label: pv.name, hint: pv.hint do
  .input-group{ "data-controller": "reload",
    "data-reload-url-value": step_versions_path(pv.step, force_reload: true) }
    = f.input_field :version, collection: pv.step.versions,
      as: :grouped_select, group_method: :last,
      class: "form-control", "data-reload-target": "body"
    .input-group-append
      = link_to "#",
        class: "input-group-text",
        text: "Reload model versions",
        "data-action": "click->reload#perform" do
        %i.fas.fa-sync
