.card.mb-2
  .card-header
    %span{ data: { toggle: "collapse", target: "#collapse-flow-#{flow.id}" } }
      = flow.name
    .float-right.d-inline-flex
      - if policy(flow).edit?
        = link_to edit_flow_path(flow),
          title: t(".edit"), class: "edit mr-2 pr-2 border-right" do
          %i.fas.fa-edit

      - if policy(flow).destroy?
        = button_to flow_path(flow),
          title: t(".destroy"),
          method: :delete,
          form: { "data-turbo-confirm": t("are_you_sure") },
          class: "btn btn-sm btn-link delete p-0 m-0" do
          %i.fas.fa-trash

  .card-body.collapse{ id: "collapse-flow-#{flow.id}" }
    %h4 Steps
    %ul.list-unstyled
      - flow.steps.each do |step|
        %li= step.name
