.card.mb-2
  .card-header
    .float-left.w-100
      .row
        .col
          %i.fas.fa-user
          = link_to @patient.case_number, @patient
        .col.d-none.d-md-block
          #{t '.files'}: <strong>#{@patient.files.count}</strong>,
          #{t '.pipelines'}: <strong>#{@patient.pipelines.count}</strong>
        .col.d-none.d-lg-block
          = render(Pipeline::StatusComponent.new(pipeline: @patient.pipelines.last, title: t('.last_pipeline')))
        .col-1
          .float-right
            - if destroy?
              = button_to patient_path(@patient),
                form: { "data-turbo-confirm": t("are_you_sure") },
                method: :delete,
                title: t(".destroy"),
                class: "btn btn-sm btn-link delete p-0 m-0" do
                %i.fas.fa-trash
