.col-6
  = render 'storage/file_browser',
    files: pipeline.inputs,
    title: t('pipeline.inputs', name: pipeline.name),
    fileable: pipeline
  - if @runnable.class == Patient
    = render 'storage/file_browser',
      files: runnable.inputs,
      title: t('patient.inputs', name: runnable.case_number),
      fileable: runnable
.col-6
  = render 'storage/file_browser',
    files: pipeline.outputs,
    title: t('pipeline.outputs', name: pipeline.name)
