= render "runnables/pipelines/pipeline_header", runnable: runnable, pipeline: pipeline
= yield

.row#file-browsers{ 'data-files-url': pipeline_files_path(pipeline) }
  = render("pipelines/file_browsers", runnable: runnable, pipeline: pipeline)

- if policy(pipeline).edit?
  = render('pipelines/form', pipeline: pipeline)

