= if @cohort_patient.persisted?
  = turbo_stream.remove dom_id(@patient)
  = turbo_stream.append dom_id(@cohort, "members"),
                        partial: "cohorts/patients/member",
                        locals: { patient: @patient, cohort: @cohort }
= turbo_stream.prepend "flash", partial: "layouts/flash"
