= turbo_stream_from @cohort
= render "cohorts/cohort_header"

.card.mb-3
  .card-header
    = render "cohorts/tab_header"

  .card-body.row.mt-2
    .col
      .card-header.border
        %h3
          = t('cohorts.patients.cohort_patients')
      = turbo_frame_tag "members", @cohort do
        = render partial: "cohorts/patients/member",
                collection: @cohort.patients, as: :patient
    .col
      .card-header.border
        %h3
          = t('cohorts.patients.patients')
      = turbo_frame_tag "candidates", @cohort do
        = render partial: "cohorts/patients/candidate",
                collection: @candidates, as: :patient
