- if policy(User).manage_users? || policy(:job).show? || policy(:organization).show?
  %h6.sidebar-heading.d-flex.px-3.mt-4.mb-1.text-muted= t ".title"
  %ul.nav.flex-column.mb-2.ml-3
    - if policy(:organization).show?
      %li.nav-item
        = active_link_to admin_organization_path, class: "nav-link d-flex justify-content-between align-items-center" do
          %span
            = t(".organization")
          - unless organization_valid?
            .fa.fa-exclamation-triangle.d-flex.align-items-center.text-muted{ title: t(".organization_problem") }
    - if policy(DataFileType).index?
      %li.nav-item
        = active_link_to t(".data_file_types"), admin_data_file_types_path, class: "nav-link"
    - if policy(Grant).index?
      %li.nav-item
        = active_link_to t(".grants"), admin_grants_path, class: "nav-link"
    - if policy(License).index?
      %li.nav-item
        = active_link_to t(".licenses"), admin_licenses_path, class: "nav-link"
    - if policy(User).manage_users?
      %li.nav-item
        = active_link_to admin_users_path, class: "nav-link" do
          = t(".users")
          - if Current.organization.memberships.new_accounts.count.positive?
            %i.fa.fa-exclamation-triangle
