- if policy(Patient).index? || policy(:files).index?
  %h6.sidebar-heading.d-flex.px-3.mt-4.mb-1.text-muted= t ".title"
%ul.nav.flex-column.mb-2.ml-3
  - if policy(Flow).index?
    %li.nav-item
      = active_link_to t(".flows"), flows_path, class: "nav-link"
  - if policy(Step).index?
    %li.nav-item
      = active_link_to steps_path, class: "nav-link d-flex justify-content-between align-items-center" do
        %span
          = t(".steps")

        - unless steps_valid?
          .fa.fa-exclamation-triangle.d-flex.align-items-center.text-muted{ title: t(".steps_problem") }
