%div{ "data-controller": "dynamic-form" }
  %div{ "data-dynamic-form-target": "body" }
    = render partial: "entry",
      collection: license.config, locals: { form: form }

  %button.btn.btn-primary{ data: { "template-id": "license-template", action: "dynamic-form#add" } }
    = t ".add"
  %template{ id: "license-template" }
    = render("admin/licenses/entry", form: form,
      entry: License::Entry.new, entry_counter: "js_template_id")

