= render "pipelines/show",
  runnable: @runnable,
  pipeline: @pipeline,
  details: @details do
  .pipeline.mb-3{ "data-controller": "computation",
    "data-computation-id-value": @computation.id }
    = render "computations/show",
      pipeline: @pipeline,
      computation: @computation,
      computations: @computations
