= render "runnables/pipelines/filtering", pipelines: pipelines, runnable: runnable
- if pipelines.size > 1 && policy(Pipeline).compare?
  = render partial: 'runnables/pipelines/tab_compare',
            locals: { pipelines: pipelines, runnable: runnable }
- else
  = render partial: 'runnables/pipelines/tab',
            locals: { pipelines: pipelines }
