.card.my-3
  .card-body.d-flex.justify-content-between.align-items-center.py-2
    %h2
      = runnable_pipeline_header(runnable, pipeline)
    %span.d-inline-flex
      - if policy(pipeline).edit?
        = link_to "Edit pipeline", edit_pipeline_path(pipeline),
          class: "btn btn-sm btn-secondary"
      - if policy(pipeline).destroy?
        = button_to "Remove pipeline", pipeline_path(pipeline),
          method: :delete, class: "btn btn-sm btn-danger",
          form: { "data-turbo-confirm": t("are_you_sure") }
