= simple_form_for step, url: url, as: :step, html: { multipart: true } do |f|
  = f.error_notification
  .row
    .col-lg-4.pr-5
      %h2= t ".general.title"
      %p.text-muted= t ".general.description"

    .col-lg-8
      = f.input :name
  %hr
  .row.mt-4
    .col-4.pr-5
      %h2= t ".git_config.title"
      %p.text-muted= t ".git_config.description"
      = link_to t(".git_config.clone_template_repo"),
        "https://gitlab.com/cyfronet/step-template/-/forks/new",
        class: "btn btn-primary btn-sm"
    .col-8
      .row
        .col
          = f.input :repository
          = f.input :file
  = git_config_errors(f.full_error(:git_config))
  = render "git_configs/override",
    git_config: step.git_config,
    git_config_url: step_git_configs_url(step_id: step.id || "_new"),
    module_type: "step", git_types: GitConfig.types

  %hr
  .row.mt-4
    .col-lg-4.pr-5
      %h2= t ".grant_type.title"
      %p.text-muted= t ".grant_type.description"
    .col-lg-8
      = f.association :grant_type, include_blank: false,
        collection: GrantType.all
  %hr
  .row.mt-4
    .col-lg-4.pr-5
      %h2= t ".site.title"
      %p.text-muted= t ".site.description"
    .col-lg-8
      = f.association :site, include_blank: false
  %hr
  .row.mt-4
    .col-lg-4.pr-5
      %h2= t ".inputs.title"
      %p.text-muted= t ".inputs.description"
      = link_to t(".inputs.new"), new_admin_data_file_type_path,
        class: "btn btn-primary btn-sm"
    .col-lg-8
      = f.association :required_file_types,
        collection: Current.organization.data_file_types,
        input_html: { data: { choice: true } }

  %hr
  .row.mt-4{ "data-controller": "dynamic-form" }
    .col-lg-4.pr-5
      %h2= t ".parameters.title"
      .row
        .col-xl
          %p.text-muted= t ".parameters.description"
        .col-xl
          %ul.list-unstyled
            - Parameter.types.each do |type|
              %li
                %button.btn.btn-outline-primary.btn-block{ "data-url": parameter_path(id: type), "data-action": "dynamic-form#add" }
                  = t("parameters.#{type}.title")
    .col-lg-8{ "data-dynamic-form-target": "body" }
      - @step.parameters.each do |p|
        = render "parameters/parameter", parameter: p, form: f

  %hr
  .row.mt-4
    .col-8.offset-4
      = link_to t("cancel"), steps_path, class: "btn btn-secondary"
      = f.button :submit, class: "btn btn-success"
