%nav.navbar.navbar-expand-lg.navbar-light.bg-secondary.fixed-top
  = link_to root_path,
    class: "navbar-brand mr-5",
    title: "Model Execution Environment" do
    .d-none.d-sm-inline
      = t(".title")
    .d-inline.d-sm-none
      = t(".title_short")

  %button.navbar-toggler{ type: "button",
    data: { toggle: "collapse", target: "#nav-menu" },
    aria: { controls: "nav-menu", expanded: false,
            label: "Toggle navigation" } }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#nav-menu
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to t(".organizations"), root_path, class: "nav-link"
      - if policy(:job).show?
        %li.nav-item
          = link_to t(".jobs"), admin_jobs_path, class: "nav-link"

    %ul.navbar-nav.ml-auto
      - if Current.user
        .collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle.user-profile#user-dropdown{ href: "#",
                role: "button", "data-toggle": "dropdown",
                "aria-haspopup": "true", "aria-expanded": "false" }
                = image_tag Current.user.gravatar_url(size: 29)
                = Current.user.name
              .dropdown-menu{ "aria-labelledby": "navbarDropdownMenuLink" }
                = button_to t(".logout"), logout_path,
                  method: :delete, class: "dropdown-item"
      - else
        %li.nav-item
          = link_to t(".login"), "/auth/open_id", class: "nav-link"
