- if show_progress_bar?(campaign)
  .card.mt-2
    .card-header
      .h3
        = I18n.t("campaigns.computation_progress")
    .card-body
      = render "progress_bar/campaign", ProgressBar::Campaign.new(campaign: campaign).data
