= turbo_stream.remove dom_id(@campaign, "summary")
= turbo_stream.prepend "flash", partial: "layouts/flash"
- if policy_scope(Campaign).empty?
  = turbo_stream.replace "campaigns", partial: "campaigns/empty"
