= button_to button_text, campaign_run_path(campaign, script_name: "/" + OrganizationSlug.encode(campaign.organization_id)), class: "btn btn-success mt-2", method: :post
= render "campaigns/campaign_result_error", campaign:
