= turbo_frame_tag artifact do
  .card.mb-2
    .card-header
      = artifact.filename
      .float-right.d-inline-flex
        = link_to edit_artifact_path(artifact),
          title: t(".edit"),
          class: "edit mr-2 pr-2 border-right" do
          %i.fas.fa-edit
        = button_to file_path(artifact),
          title: t(".destroy"),
          method: :delete,
          form: { "data-turbo-confirm": t("are_you_sure") },
          class: "btn btn-sm btn-link delete p-0 m-0" do
          %i.fas.fa-trash
