.card
  .row.no-gutters
    .col-7
      .card-body.m-5.text-center
        %h1.card-title= t ".title"
        %h5.card-text.mt-5= t ".description_html"
    .col-5
      = image_tag("artifacts.svg", class: "card-img p-5")