%h1
  = t ".title"
- if policy(Artifact).new?
  .mt-5
    .card.mb-2
      .card-header
        = simple_form_for Artifact.new, url: upload_artifact_path, class: "form-inline", wrapper: :dropzone_file do |f|
          = f.input :files, as: :dropzone_file
- if @artifacts.size.zero?
  .row.mt-5
    .col-10.offset-1
      = render "empty"
- else
  .card.mb-3
    .card-body
      = turbo_stream_from Current.organization, "artifacts"
      = render partial: "artifacts/artifact", collection: @artifacts
      - if @pagy.pages != 1
        != pagy_bootstrap_nav(@pagy)
