!!! 5
%html
  = render 'layouts/head'
  %body.nav-md
    = render 'layouts/flash'
    .container.body
      .main_container
        .col-md-12
          .col-middle
            .text-center
              = yield

